@model IEnumerable<HMS.Models.Doctor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>newIndex</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  <!-- C:\Users\User2\documents\visual studio 2015\Projects\HMS\HMS\Scripts\newIndex.js --> 
</head>
<body>
    <table id="tblCustomers" class="table table-bordered" cellpadding="0" cellspacing="0" >
        <tr>
            <th style="width:100px">Doctor Id</th>
            <th style="width:150px">First Name</th>
            <th style="width:150px">Last Name</th>
            <th style="width:150px">BirthDate</th>
            <th style="width:150px">Degree</th>
            <th style="width:150px">Actions</th>
        </tr>
        @foreach (var doctor in Model)
        {
            <tr>
                <td class="DoctorId">
                    <span>@doctor.DoctorID</span>
                    <input type="hidden" value="@doctor.DoctorID" style="display:none" />
                </td>
               
                 
                <td class="FirstName">
                    <span>@doctor.FirstName</span>
                    <input type="text" value="@doctor.FirstName" style="display:none" />
                </td>
                
                
                <td class="LastName">
                    <span>@doctor.LastName</span>
                    <input type="text" value="@doctor.LastName" style="display:none" />
                </td>
             
                <td class="BirthDate">
                    <span>@doctor.BirthDate</span>
                    <input type="text" value="@doctor.BirthDate" style="display:none" />
                </td>

                
                <td class="Degree">
                    <span>@doctor.Degree</span>
                    <input type="text" value="@doctor.Degree" style="display:none" />
                </td>

                <td>
                    <a class="Edit" href="javascript:;">Edit</a>
                    <a class="Update" href="javascript:;" style="display:none">Update</a>
                    <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                    <a class="Delete" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </table>


    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 150px">
                 FirstName: <br />
                <input type="text" id="FirstName" style="width:140px" />
            </td>
            
            <td style="width: 150px">
                LastName: <br />
                <input type="text" id="LastName" style="width:140px" />
            </td>

            <td style="width: 150px">
                BirthDate: <br />
                <input type="text" id="BirthDateID" style="width:140px" />
            </td>


          

            <td style="width: 150px">
                Degree: <br />
                <input type="text" id="Degree" style="width:140px" />
            </td>



            <td style="width: 200px">
                <br />
                <input type="button" id="btnAdd" value="Add" />
            </td>
        </tr>
    </table>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/newIndex.js")">



        </script>



</body>
</html>
